<div class="customer">
  <h3><%= customer.full_name %></h3>
  <p><strong>Phone:</strong> <%= customer.phone_number %></p>
  <% if customer.email.present? %>
    <p><strong>Email:</strong> <%= customer.email %></p>
  <% else %>
    <p class="missing">No Email Provided</p>
  <% end %>
  <p><strong>Notes:</strong> <%= customer.notes %></p>
</div>
