<h1>Alphabetized Customers</h1>
<%= render partial: "customer", collection: @customers %>
<%= link_to 'All Customers', root_path %> |
<%= link_to 'Missing Email Customers', customers_missing_email_path %>
