<h1>All Customers</h1>
<%= render partial: "customer", collection: @customers %>
<%= link_to 'Alphabetized Customers', customers_alphabetized_path %> |
<%= link_to 'Missing Email Customers', customers_missing_email_path %>
