<h1>Customers with Missing Emails</h1>
<%= render partial: "customer", collection: @customers %>
<%= link_to 'All Customers', root_path %> |
<%= link_to 'Alphabetized Customers', customers_alphabetized_path %>
